amqp==2.2.2
awscli==1.11.169
billiard==3.5.0.3
botocore==1.7.27
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
colorama==0.3.7
docutils==0.14
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
kombu==4.1.0
MarkupSafe==1.0
numpy==1.13.1
olefile==0.44
Pillow==4.3.0
pyasn1==0.3.7
pycparser==2.18
pytz==2017.2
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
torch==0.2.0.post4
torchvision==0.1.9
tornado==4.5.2
tqdm==4.19.2
urllib3==1.26.5
vine==1.1.4
Werkzeug==0.12.2
